body {
  background: #fff;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 10pt;
  line-height: 1.7;
  margin: 0;
  padding: 2px;
  color: black;
}

.project {
	color: black;
	padding: 20px;
	border-width: 1px;
	border-style: solid;
	margin: 10px;
	border-radius: 20px;
	border-color: #D4D9E5;
	overflow: hidden;
	overflow-y: scroll;
	max-height: 600px;
}

.projectTitle {
	color: #1DA0EB;
	font-weight: bold;
	float: left;
}

.projectTitle:hover {
	color: #0B82C6;
}

.subscribeButton {
	color: gray;
	float: right;
}

.subscribeButton:hover {
	color: #262626;
}

.page {
	padding: 10px;
	padding-left: 5px;
	opacity: 0.7;
	background-color: #F3F8F9;
	overflow:hidden;
}

.pageTitle {
	color: #41545E;
	float: left;
}

.page:nth-child(even) {
	background-color: #E0EAEE;
}

.page:hover {
	opacity: 1;
}

.pageData {
	margin: 15px;
	color: gray;
	margin-top: 40px;
}

.pagesContainer {
	margin-top: 40px;
}